[submodule "Spring2022/sp22_qbio_public_data_analysis_resources"]
	path = Spring2022/sp22_qbio_public_data_analysis_resources
	url = git@github.com:davidjwen/sp22_qbio_public_data_analysis_resources.git
